@import 'functions';
@import 'animations';

@keyframes linetop {
 	0% {
		top:4px;
 	}
 	50% {
  		top:10px;
 	}
 	100% {
  		top:10px;
		@include prefix("transform",rotate(-45deg));
 	}
}

@keyframes linemiddle {
 	0% {
  		opacity:1;
 	}
 	50% {
	  	opacity:0;
 	}
 	100% {
  		opacity:0;
 	}
}

@keyframes linebottom {
 	0% {
		top:16px;
 	}
 	50% {
  		top:10px;
 	}
 	100% {
  		top:10px;
		@include prefix("transform",rotate(45deg));
 	}
}