.article {
	
	&-content {
		padding-bottom:100px;
		
		img {
			position:relative;
			left:-15%;
			width:130%;
		}
		
		p {
			color:colors(gray-1);
			display:block;
			font-family:'ChronicleDisplay';
			font-size:21px;
			font-weight:400;
			line-height:28px;
			margin:30px 0;
			
			.dropcap {
				float:left;
				color:#000;
				font-family:"ProximaNova";
				font-size:100px;
				line-height:80px;
				padding-right:10px;
				font-weight:700;
				margin-left:0;
				
			}
		}
		
		ol {
			li {
				font-family:'ChronicleDisplay';
				font-size:21px;
				font-weight:400;
				line-height:28px;
				margin:30px 0;	
			}
		}
	}
	
	&-date {
		display:block;
		font-size:13px;
		letter-spacing:2px;
		line-height:18px;
		margin:0 auto;
		text-transform:uppercase;
	}
	
	&-title {
		padding:50px 0;
		text-align:center;
		
		@include breakpoint(tablet){
			padding:30px 0;
		}
		
		@include breakpoint(mobile){
			padding:20px 0;
		}
		
		p {
			font-size:13px;
			letter-spacing:2px;
			line-height:18px;
			text-transform:uppercase;
		}
	}
}

.home {
	
	&-intro {
		left:50%;
		padding:100px;
		position:relative;
		text-align:center;
		width:50%;
		@include prefix('box-sizing',border-box);
		
		h1 {
			font-family:'ChronicleDisplay';
			font-size:77px;
			line-height:84px;
			margin:20px 0 0 0;
		}
		
		p {
			color:colors(gray-1);
			display:block;
			font-family:'ChronicleDisplay';
			font-size:21px;
			font-weight:400;
			line-height:28px;
			margin:40px 0;
		}
	}
	
	&-image {
		background:url(https://s3.amazonaws.com/StartupStockPhotos/20140808_StartupStockPhotos/103.jpg) no-repeat center center;
		background-size:auto 100%;
		bottom:0;
		left:0;
		position:absolute;
		top:0;
		width:50%;
	}
	
	&-nav {
		position:absolute;
		left:0;
		right:0;
		bottom:0;
		
		ul {
			list-style-type:none;
			margin:0;
			padding:0;
			
			li {
				@include inline-block;
				list-style-type:none;
				margin:0;
				padding:0;
				
				a {
					border-bottom:solid 1px transparent;
					font-size:14px;
					margin:10px;
					text-transform:uppercase;

					&:hover {
						border-bottom:solid 1px colors(gold);
					};
				}	
			}
		}
	}
}

.listing {
	border-bottom:none;
	color:colors(black);
	display:block;
	margin-top:136px;
	text-align:center;
	
	&:hover {
		border:none;
		
		h1 {
			border-bottom:solid 1px colors(gold);
		}
	};
	
	h1 {
		border-bottom:solid 1px transparent;
		@include inline-block;
		font-family:'ChronicleDisplay';
		font-size: 34px;
		font-weight:500;
		line-height:38px;
	}
	
	.date {
		display:block;
		font-size:13px;
		letter-spacing:2px;
		line-height:18px;
		margin:0 auto;
		text-transform:uppercase;
	}
}

